*{
    list-style-type: none;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
   min-height: 100vh;
   background-position: center;
   width: 100%;
}
.entete{
    
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
    
}
.logo{
    color: white;
    font-size: 30px;
    font-style: oblique;
    font-family: sans-serif;
    color: orange;
} 
.Menu{
    display: none;
 }  

.meny{
    display: flex;

}
.meny li{
    margin: 0 15px;
    
}
.meny li a{
    font-size: 25px;
    color: white;
    letter-spacing: 3px;
    text-transform: capitalize;
}
.reseau a{
  color: orange;
    font-size: 30px;
    margin:  30px 10px;
}
nav{
    background-color: rgba(0, 0, 0, 0.577);
   
}


.corps{
    justify-content: center;
    width: 50%;
    margin-top: 180px;
    margin-left: 50px;
   
}
h1{
    color: white;
    font-size: 60px;
}
span{
    color:orange;
    font-style: oblique;
}
p{
    color:white;
    font-size: 30px;
}
b{
    color: orange;
}
bt1{
    margin-left: 200px;
}
    .formulaireR{
        margin-left: 20px;
    }
table{
    margin-left: 30px;
}
td{
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: white;
}
.plats{
    display: flex;
    margin-left: 40px;
}
th{
    color: orange;
}
.jour{
    color: orange;
}
.menybou{
    margin-top: -2px;
}
button{
    margin: 20px;
    margin-right: -40px;
    margin-left: 100px;
    margin-top: 40px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: rgb(255, 0, 230);
    border-radius: 20px;
    font-size: 15px;

}


.lieu{
    padding-top: 80px;
        width: 100%;
    }
    .nous{
        color:white
    }
    .contf i{
        font-size: 40px;
        color: orange;
        display: flex;
    }
    .contf label{
        font-size: 15px;
        color: white;
    }
    .fs{
        display: flex;
        margin-left: 80px;
        box-sizing: border-box;
        width: 90%;
    }
    .contf{
        width: 30%;
        margin-top: 15px;
    }
    .formulaire{
        width: 70%;
        margin-top: 15px;
    }
    .inputcont,.inputcont1{
    width: 400px;
    height: 40px;
    border-color: rgb(255, 255, 255);
    background-color: black;
    padding-left: 5px;
    outline-color: rgb(255, 162, 0);
    margin-left: 15px;
    color: white;
    }
    .text{
    width: 820px;
    height: 40px;
    border-color: rgb(255, 255, 255);
    background-color: black;
    padding-left: 5px;
    outline-color: rgb(255, 162, 0);
    margin-left: 15px;
    margin-top: 10px;
    color: white;
    }
 .textareacont,.textareacont1{
        width: 820px;
        height: 40px;
        border-color: rgb(255, 255, 255);
        background-color: black;
        padding-left: 5px;
        outline-color: rgb(255, 162, 0);
        margin-left: 15px;
        margin-top: 10px;
        max-width: 820px;
        min-width: 820px;
        max-height: 150px;
        min-height: 150px;
        color: white;
        }
        .textareacont1{
         max-width: 1240px;
        min-width: 1240px;
        }
.btcont{
    margin-left: -20px;
    margin-top: -20px;
}
.corpsanif{
    width: 100%;
}
.anif{
    margin-left: 60px;
    margin-top: 40px;
    width: 30%;
}
.pargeven p{
    font-size: 20px;
    color: white;
}
.anifev{
    width: 40%;
    margin-top: 50px;
}
.priveev{
    width: 70%;
    margin-top: 50px;
}
.mariageev{
    margin-left: 60px;
    margin-top: 40px;
    width: 30%;
}
@media screen and (max-width:1239px) {
    .inputcont,.inputcont1{
        width: 350px;
    }
    .text{
        width: 720px;
    }
    .textareacont{
        width: 780px;
        max-width: 720px;
        min-width: 720px;

    }
    .textareacont1{

        max-width: 1090px;
        min-width: 1090px;
    }
    
}
@media screen and (max-width:1165px) {
    .textareacont1{

        max-width: 940px;
        min-width: 940px;
    }
    .inputcont,.inputcont1{
        width: 300px;
    }
    .text{
        width: 620px;
    }
    .textareacont{
        width: 620px;
        max-width: 620px;
        min-width: 620px;

    }
}
@media screen and (max-width:1006px) {
    .textareacont1{
        max-width: 785px;
        min-width: 785px;
    }
    .inputcont,.inputcont1{
        width: 250px;
    }
    .text{
        width: 520px;
    }
    .textareacont{
        width: 520px;
        max-width: 520px;
        min-width: 520px;

    }
  
}
@media screen and (max-width:848px) {
    .textareacont1{
        max-width: 640px;
        min-width: 640px;
    }
   .fs{
    margin: 50px;
   }
   .inputcont,.inputcont1{
        width: 200px;
    }
    .text{
        width: 420px;
    }
    .textareacont{
        width: 420px;
        max-width: 420px;
        min-width: 420px;

    }
    .contf i{
        font-size: 30px;
        
    }
    .contf label{
        font-size: 10px;
        color: white;
    }
    
}
@media screen and (max-width:775px) {
    .inputcont1{
        width: 200px;
    }
    .fs{
        margin-top: 5px;
    }
    .formulaire{
        margin-top: -1px;
    }
    #pcontact{
        margin-top: 5px;
    }
    .inputcont{
        width: 350px;
    }
    .textareacont{
        width: 350px;
        max-width: 350px;
        min-width: 350px;
    }
    .text{
        width: 350px;
    }
 }
 @media screen and (max-width:676px){
    .inputcont1{
        width: 150px;
    }
    .textareacont1{
        max-width: 490px;
        min-width: 490px;
    }
 }
 @media screen and (max-width:526px){
    .inputcont1{
        width: 100%;
    }
    .textareacont1{
        max-width: 100%;
        min-width: 100%;
    }
    .formulaireR{
        margin-left: -5px;
    }
    .pargeven p{
        font-size: 15px;
    }
    
}
 @media screen and (max-width:568px) {
    .inputcont{
        width: 300px;
    }
    .textareacont{
        width: 300px;
        max-width: 300px;
        min-width: 300px;
    }
    .text{
        width: 300px;
    }
 }
 @media screen and (max-width:500px) {
    .inputcont{
        width: 100%;
        margin-left: auto;
    }
    .textareacont{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        margin-left: auto;
    }
    .text{
        width: 100%;
        margin-left: auto;
    }
    .contf{
        margin-left: 13px;
    }
    .contf label{
        font-size: 20px;
    }
    .formulaire{
        margin-left: -4px;
        margin-top: 10px;
        width: 100%;
        background-color: aliceblue;
    }
    #nous1{
        color: white;
    }
    .nous{
        color: black;
    }
    .fs{
        margin-left: 5px;
        display: block;
        width: 100%;
    }
 }



@media screen and (max-width:1077px) {
    td{
        padding: 15px;
        font-size: 10px;
    }
    .logo{
        font-size: 25px;
    }
    
}
@media screen and (max-width:1049px) {
    nav{
        width: 100%;
    }
    .logo{
        font-size: 20px;
    }
    .reseau a{
          font-size: 25px;
      }
      .meny li a{
        font-size: 20px;
       
    }
    .corps{
        
       width: 90%;
        margin-top: 140px;
        align-items: center;
        margin-left: 70px;
       
    }
    h1{
        font-size: 50px;
        color: rgb(0, 26, 255);
    }
    p{
        color: rgb(255, 0, 225);
        width: 90%;
        
    }
    


}
@media screen and (max-width:913px) {
    .plats{
        display: block;
        margin-left: 0px;
    }
    table{
        margin-top: 20px;
    }
    td{
        padding: 20px;
        font-size: 20px;
    }
    .contact{
        display: none;
    }
    .logo{
        font-size: 30px;
    }
    .reseau a{
          font-size: 30px;
      }
      .meny li a{
        font-size: 25px;
       
    }
}
@media screen and (max-width:780px) {
   
    table{
        margin-top: 20px;
    }
    td{
        padding: 20px;
        font-size: 17px;
    }
    .menybou{
        margin-top: 20px;
    }
}
@media screen and (max-width:780px) {
    .logo{
        font-size: 25px;
    }
    .reseau a{
          font-size: 25px;
      }
      .meny li a{
        font-size: 20px;
       
    }
    .corps{
        width: 85%;
    }
}

@media screen and (max-width:651px) {
   h1{
    font-size: 45px;
   }
}
@media screen and (max-width:685px) {
    .logo{
        font-size: 20px;
    }
    .reseau a{
          font-size: 20px;
      }
      .meny li a{
        font-size: 15px;
       
    }
    @media screen and (max-width:589px) {
       
     }
 }
    @media screen and (max-width:586px) {
        h1{
         font-size: 40px;
        }
     }
 
 @media screen and (max-width:589px) {
    .logo{
        font-size: 15px;
    }
    .reseau a{
          font-size: 15px;
      }
      .meny li a{
        font-size: 10px;
       
    }
 }
 @media screen and (max-width:521px) {
       .corps{
        margin-left: 40px;
       }
       h1{
        font-size: 35px;
       }
       p{
        font-size: 25px;
       }
      button{
        margin-left: 60px;
      } 
 }
 @media screen and (max-width:494px) {
    .logo{
        font-size: 10px;
    }
    .reseau a{
          font-size: 10px;
      }
      .meny li a{
        font-size: 8px;
       
    }
    td{
        padding: 15px;
        font-size: 13px;
    }
}
@media screen and (max-width:427px) {
    table{
        margin-left: 2px;
    }
    .reseau a{
        margin:  30px 5px;
    }
    .meny li{
        margin: 0 10px;
        
    }
    button{
        margin-left: 40px;
        margin-right: -20px;
    }
    
}
@media screen and (max-width:357px) {
    td{
        padding: 10px;
        font-size: 10px;
    }
    .reseau a{
        margin:  30px 0px;
    }
    .meny li{
        margin: 0 5px;
        
    }
    button{
        margin-left: 20px;
        margin-right: -20px;
        font-size: 10px;
    }
}
@media screen and (max-width:287px) {
    .logo{
        font-size: 8px;
    }
    .reseau a{
        margin:  30px 0px;
        font-size: 8px;
    }
    .menu li a{
        font-size: 5px;
    }
    .meny li{
        margin: 0 1px;
        
    }
    button{
        margin-left: 15px;
        margin-right: -10px;
        font-size: 10px;
    }
    
}
